
$color-cartels-blue: #00a4ff;
$color-cartels-blue10: #00a4ff1A;
$color-cartels-blue20: #00a4ff33;
$color-cartels-blue30: #00a4ff44;
$color-cartels-blue40: #00a4ff55;
$color-gangster-pink: #c84260;

$color-orange: #ff7b00;

$color-red-alert: #ba3d22;
$color-red-alert10: #ba3d221A;
$color-red-alert20: #ba3d2233;
$color-red-alert30: #ba3d2244;


$color-cash-green: #61ffa0;
$color-gold-yellow: #ffc700;
$color-gold-yellow20: #ffc70033;
$color-gold-yellow30: #ffc70044;
$color-crypto-purple: #c25fff;

$color-ultra-rare: #7239ea;

$color-white: #ffffff;
$color-black: #000000;
$color-annotation-grey: #858585;
$color-body-grey: #bfbfbf;

$color-main-background: #0a0a0a;
$color-panels: rgba(0, 0, 0, 0.5);
$color-items: rgba(255, 255, 255, 0.02);
$color-modals: #131313;
$color-dividers: rgba(255, 255, 255, 0.08);
$color-overlaying-field: rgba(0, 0, 0, 0.2);