
$font-accented-header: 'FuturaBoldOblique', sans-serif;
$font-title-heavy: 'FuturaBold', sans-serif;
$font-title: 'FuturaHeavy', sans-serif;
$font-body-heavy: 'FuturaHeavy', sans-serif;
$font-body: 'FuturaBook', sans-serif;

$font-size-xxs: 10pt;
$font-size-xs: 12pt;
$font-size-s: 14pt;
$font-size-m: 16pt;
$font-size-l: 18pt;
$font-size-xl: 24pt;
$font-size-xxl: 46pt;