<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cartels</title>
        <link rel="dns-prefetch" href="https://game.cartels.com/">
        <link rel="dns-prefetch" href="https://static-assets.cartels.com/">
        <link rel="icon" href="/images/favicon/favicon32.png">
        <link rel="icon" href="/images/favicon/favicon2x.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/images/favicon/favicon180.png">
        <link rel="preload" as="image" href="/images/favicon180.png">
        <link rel="preload" as="image" href="/static/img/6e887dd8e0a133d8c5da2d3c0c79f4dc.png">
        <link rel="preload" as="image" href="/static/img/b56a979767ba398471cca508bcad40df.svg">
        <link rel="preload" as="font" href="/static/fonts/bc305be0a88a100ad8363a52545c814a.otf">
        <link rel="preload" as="font" href="/static/fonts/2862dbd87fd60c04be93118ff7f36820.otf">
        <link rel="preload" as="font" href="/static/fonts/725c77b4e125ed776783530c13bd9dd6.otf">
        <link rel="preload" as="font" href="/static/fonts/6f93cde76fbac14ccace353ee4432f75.otf">
        <link rel="preload" as="image" crossorigin href="https://static-assets.cartels.com/static/img/b2ac6631d43f34089587fcbff7cb5855.png?auto=compress">
        <meta name="viewport" content="width=device-width" />
        <style>body { background-color: #000; }</style>
        <%= headScripts %>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
